[submodule "el-get/el-get"]
	path = el-get/el-get
	url = http://github.com/dimitri/el-get.git
[submodule "el-get/full-ack"]
	path = el-get/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "el-get/magit"]
	path = el-get/magit
	url = http://github.com/magit/magit.git
[submodule "el-get/popup"]
	path = el-get/popup
	url = https://github.com/m2ym/popup-el.git
[submodule "el-get/rails-el"]
	path = el-get/rails-el
	url = https://github.com/ChandleWEi/rails-el.git
[submodule "el-get/rhtml-mode"]
	path = el-get/rhtml-mode
	url = https://github.com/eschulte/rhtml.git
[submodule "el-get/textmate"]
	path = el-get/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "el-get/ace-jump-mode"]
	path = el-get/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode
[submodule "el-get/fuzzy"]
	path = el-get/fuzzy
	url = http://github.com/m2ym/fuzzy-el.git
[submodule "el-get/golden-ratio"]
	path = el-get/golden-ratio
	url = git://github.com/roman/golden-ratio.el.git
[submodule "el-get/js2-mode"]
	path = el-get/js2-mode
	url = http://github.com/mooz/js2-mode.git
[submodule "el-get/yaml-mode"]
	path = el-get/yaml-mode
	url = http://github.com/yoshiki/yaml-mode.git
[submodule "el-get/yasnippet"]
	path = el-get/yasnippet
	url = http://github.com/capitaomorte/yasnippet.git
